<!DOCTYPE html>
<html xmlns:th="http://www.thyneleaf.org">
<head>
  <meta charset="UTF-8">
  <th:block th:replace="layout :: link-css"></th:block>
  <title>edit Nhan Vien</title>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <h1>edit Nhan Vien</h1>
  <form th:action="@{/nhanviens/edit}" th:object="${nhanvien}" method="post">
    <input type="hidden" th:field="*{manv}">
    <div class="col-6 mb-3">
      <label class="form-label" for="tennv">ten nhan vien:</label>
      <input class="form-control" type="text" th:field="*{tennv}" id="tennv">
    </div>

    <div class="col-6 mb-3">
      <label class="form-label" for="phai">phai:</label>
      <input class="form-control" type="text" th:field="*{phai}" id="phai">
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="noisinh">noi sinh:</label>
      <input class="form-control" type="text" th:field="*{noisinh}" id="noisinh">
    </div>

    <div class="col-6 mb-3">
      <label class="form-label" for="luong">Luong:</label>
      <input class="form-control" type="text" th:field="*{luong}" id="luong">
    </div>

    <div class="col-6 mb-3">
      <label class="form-label" for="phongban">Phong Ban:</label>
      <select class="form-control" name="phongban.maphong" id="phongban">

        <option th:each="phongban : ${phongbans}" th:value="${phongban.maphong}" th:text="${phongban.tenphong}" th:selected="${phongban.maphong == nhanvien.phongban.maphong}"></option>
      </select>


    </div>
    <input type="submit"  value="Save">
  </form>
  <br>
  <a th:href="@{/nhanviens}">Back to List</a>
</div>
<th:block th:replace="layout :: footer" ></th:block>
</body>
</html>